<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @status.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_user_status_path(@user, @status) %> |
<%= link_to 'Back', user_statuses_path(@user) %>
