<p id="notice"><%= notice %></p>

<h3>Users</h3>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <b> first name: </b> <%= user.first_name %></td>
        <td> <b> last name: </b> <%= user.last_name %></td>
        <td> <b> email: </b> <%= user.email%></td>
        <td> <a class="btn btn-primary" href= <%= "/users/#{user.id}" %> role="button">Profile</a> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

