<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<a class="btn btn-warning" href= <%= edit_user_path(@user) %> role="button">Edit</a>
<a class="btn btn-secondary" href= <%= users_path %> role="button">Back</a>
<% if @followed %>
  <a class="btn btn-danger" href= <%= "#{@user.id}/unfollow" %> role="button">Unfollow</a>
<% else %>
    <a class="btn btn-info" href= <%= "#{@user.id}/follow" %> role="button">Follow</a>
<% end %> 
<button type="button" class="btn btn-primary"> Following: <%= @user.followings.size %> </button>
<button type="button" class="btn btn-success"> Followers: <%= @user.followers.size %> </button>

